<launch>
  <!--- Input args -->
  <arg name="account_id" default=""/>
  <arg name="account_key" default=""/>
  <arg name="account_domain" default="" />  
  <arg name="image" default="/F1/image_rect"/>
  <arg name="camera_info" default="/F1/camera_info"/>
  <arg name="mapData" default="/mapData"/>

  <!--- ASA Wrapper -->
  <include file="$(find asa_ros)/launch/asa_ros.launch">
    <arg name="account_id" value="$(arg account_id)" />
    <arg name="account_key" value="$(arg account_key)" />
    <arg name="account_domain" value="$(arg account_domain)" />
    <arg name="image" value="asa/image"/>
    <arg name="camera_info" value="asa/camera_info"/>
  </include>     

  <!--- Use RTABMAP mapData graph to create tf2 -->
  <node pkg="asa_ros" type="asa_rtabmap.py" name="asa_rtabmap" output="screen">
    <remap from="image" to="$(arg image)" />
    <remap from="camera_info" to="$(arg camera_info)" /> 
    <remap from="mapData" to="$(arg mapData)" />    
  </node>

</launch>